$orange         : #BD3613;
$blue           : #2176C7;
$background-grey: #2B3D47;
$title-blue: #60c8ff;
$paragraph-text-grey: #A1B0B8;
$footer-background-color: #E8ECED;
$header-navbar-text-color: #1D3C4C;
$navbar-hover-text-color: #E9EEF0;
$navbar-haver-background-color:#265168;
$image-gallery-background-color: #4DA2CF;
$article-paragraph-link-color: #E3E7EA;

$font-primary: Merriweather, serif;
$font-secondary: Bree Serif, serif;

$default-border-radius : 10px;